<div class="container">
    <h3>Employee List</h3>
     <table class="table table-striped">  
       <thead class="thead-dark">
         <tr>
           <td> <a style="cursor: pointer;" (click)="onNew()">Add New</a></td>  
         
         </tr>
         <tr class="success">
           <th scope="col">Employee Name</th>
           <th scope="col">Email</th>
           <th scope="col">Edit</th>
           <th scope="col">Delete</th>
         </tr>
       </thead>
       <tbody>
          <tr  *ngFor="let e of employeelist ; let i = index"> 
           <td >{{e.EmployeeName}}</td>
           <td >{{e.Email}}</td>
           <td ><a style="cursor: pointer;" (click)="onEdit(e)">Edit</a></td>  
           <td ><a style="cursor: pointer;" (click)="onDelete(e,i)">Delete</a></td>
         </tr>
       </tbody>
     </table>
   </div>
    <hr >
<div class="row">
  <div class="col-xs-12">
   <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
   <div class="container" *ngIf="editCustomer">
    <h3>{{FormHeader}}</h3>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="EmployeeName">Name</label>
          <input type="text" id="EmployeeName" name="EmployeeName" [(ngModel)]='empBind.EmployeeName' >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="EmployeeName">Email</label>
          <input type="text"  id="Email" name="Email" [(ngModel)]='empBind.Email'>
        </div>
      </div>
    </div>
        <ng-select 
        name="items"
        bindLabel="skill"
        placeholder="Select item"
        appendTo="body"
        multiple="true"
        (change)="getValues()"
        [(ngModel)]="selected">
        <ng-option [value]="item.ID"  *ngFor="let item of items"> 
          {{item.skill}}
        </ng-option>
        </ng-select>
           <input class="btn btn-success" type="submit" value="Save" >
           <input class="btn btn-danger" type="button" value="Cancel" (click)="onCancel()">     
    </div>
   </form> 
  </div>
</div>